.paper-list {
  height: calc(100vh - 120px);
  padding: 10px;
  overflow-y: auto;
}

@media screen and (max-width: 1000px) {
  .paper-list {
    // grid-template-columns: repeat(2, 1fr);
  }
}

.paper-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 280px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(139, 141, 174, 0.15) 0px 2px 20px 0px;
  cursor: pointer;

  &__title {
    display: -webkit-box;

    max-height: 44px;
    overflow: hidden;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    font-size: 22px;

    font-size: 14px;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  &__bottom {
    align-self: flex-end;
    color: rgb(143, 145, 168);
    font-size: 12px;
    line-height: 20px;
    &__author {
      align-self: flex-end;
    }
    &__create {
      align-self: flex-end;
    }
  }
}
